# Кэш Pytest (та самая папка, что открыта у тебя на скрине)
.pytest_cache/

# Кэш самого Python (компилированные файлы)
**/__pycache__/
*.pyc

# Скрытые настройки среды разработки VS Code
.vscode/

# Виртуальное окружение (если ты его создавала, например venv или .venv)
venv/
.venv/
env/
